name: tekartik_aliyun_fc_universal
description: Abstract Function Compute binding
version: 0.1.3
publish_to: none
# homepage: https://www.example.com

environment:
  sdk: ^3.10.0

dependencies:
  path: ">=1.9.0"
  tekartik_aliyun_fc:
    git:
      url: https://github.com/tekartik/aliyun.dart
      path: common/fc
    version: '>=0.1.1'
  tekartik_aliyun_fc_node:
    git:
      url: https://github.com/tekartik/aliyun.dart
      path: node/fc_node
    version: '>=0.1.1'
  tekartik_aliyun_fc_http:
    git:
      url: https://github.com/tekartik/aliyun.dart
      path: common/fc_http
    version: '>=0.1.4'
dev_dependencies:
  test: ">=1.24.0"
  # needed node dependencies
  build_runner: ">=2.4.13"
  build_web_compilers: ">=4.0.11"
  tekartik_build_node:
    git:
      url: https://github.com/tekartik/build_node.dart
      path: packages/build_node

resolution: workspace
